<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Téléphone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Plateforme</ion-col>
          <ion-col>{{ (informations | async)?.platform }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Version</ion-col>
          <ion-col>{{ (informations | async)?.osVersion }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>UUID</ion-col>
          <ion-col>{{ (informations | async)?.uuid }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Modèle</ion-col>
          <ion-col>{{ (informations | async)?.model }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Connexion</ion-col>
          <ion-col>{{ (network | async)?.connectionType }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
