<ion-card>
  <img
    *ngIf="speaker.photoUrl"
    [src]="'https://devfest2018.gdgnantes.com' + speaker.photoUrl"
  />
  <ion-card-header>
    <ion-card-title>{{ speaker.name }}</ion-card-title>
    <ion-item lines="none">
      <ion-label>Ajouter à mes contacts</ion-label>
      <ion-toggle slot="end" color="success"></ion-toggle>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-card-subtitle>Biographie</ion-card-subtitle>
    {{ speaker.bio }}
  </ion-card-content>
  <ion-card-content>
    <ion-card-subtitle>Ses présentations</ion-card-subtitle>
    <ion-list>
      <div
        class="ion-activatable"
        *ngFor="let session of speaker.sessions"
        (click)="goToSessionDetail(session.id)"
      >
        <ion-item lines="none">
          <ion-icon slot="start" name="ios-people"></ion-icon>
          <ion-label>{{ session.title }}</ion-label>
        </ion-item>
      </div>
    </ion-list>
  </ion-card-content>
</ion-card>
